body {
    background: #fff;

    .nav-menu {

        .nav-menu-list {
            li {

                img{
                    width: 32px;
                    height: 32px;
                }
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}