body{
    background: #fff;
}

.nav-menu{

    .nav-menu-list{
        li{

            svg{
                width: 30px;
                height: 30px;
            }
        }
    }

    
}